manifest {
  // NEUER NAME für EPI2ME
  name            = 'IDENTXX/wf-fusarium-tef1-consensus'
  author          = 'IDENTXX'
  description     = 'Metabarcoding workflow for Fusarium TEF1 using VSEARCH Consensus calling.'
  mainScript      = 'main.nf'
  nextflowVersion = '>=21.10.0'
  version         = 'v1.0.0'
}

params {
  // Inputs (werden über UI gesetzt)
  reads    = null
  db_fasta = null

  // Output
  out_dir  = 'output'

  // Primers (optional)
  primer_fwd = ''
  primer_rev = ''
  require_primers  = true
  trim_error_rate  = 0.12

  // Filtering
  min_q    = 9
  min_len  = 500
  max_len  = 900

  // Clustering & Consensus
  cluster_id        = 0.90
  min_cluster_reads = 20

  // BLAST
  blast_topn = 5
}

process {
  // DEIN DOCKER IMAGE (fest verdrahtet basierend auf deinem Screenshot)
  container = 'identxx/fusarium-toolbox:v1.0'
  
  cpus   = 4
  memory = '4 GB'
  errorStrategy = 'finish'
  
  // BLAST braucht oft den offiziellen Container
  withName: MAKEBLASTDB { container = 'ncbi/blast:2.16.0' }
  withName: BLASTN      { container = 'ncbi/blast:2.16.0' }
}

profiles {
  standard {
    docker.enabled = true
    // Wichtig für Linux-Dateirechte
    docker.runOptions = '-u $(id -u):$(id -g)'
  }
}