manifest {
  name = 'IDENTXX/wf-fusarium-tef1-consensus'
  author = 'IDENTXX'
  homePage = 'https://github.com/IDENTXX/wf-fusarium-tef1-consensus'
  description = 'Fusarium Analysis'
  mainScript = 'main.nf'
  defaultBranch = 'main'
  version = '1.0.0'
}

profiles {
  standard {
    process.executor = 'local'
  }
}
